<!-- activate cohort confirmation modal -->
{% from "base.html" import generate_modal %}
{% call generate_modal("%s-activate-cohort-modal" % cohort["_id"],
                       "Activate Cohort Confirmation",
                       "_none",
                       "changeCohortStatus('%s')" % cohort["_id"],
                       "Yes, Activate Cohort",
                       "_none",
                       "",
                      ) %}
    <p><b>Are you sure you want to activate cohort "{{ cohort["cohort_name"]}}"?</b></p>
    <div class="alert alert-warning">
        <p><b>WARNING:</b> This action will send the following message to all {{ cohort["get_active_user_count"]}} active users in your cohort depending on whether or not they are new users:</p>
        <br />
        <b>New Users:</b>
        <p class="alert alert-default">"
            {%- if DISABLE_WELCOME %}
                {{- "[Welcome Message Disabled]" -}}
            {% elif CUSTOM_WELCOME_OVERRIDE %}
                {{- CUSTOM_WELCOME_OVERRIDE -}}
            {% else %}
                {{- cohort["welcome_message"] if cohort["welcome_message"] -}}
            {% endif %}
            {{- " " + LEGALLY_REQUIRED if not DISABLE_WELCOME and not CUSTOM_WELCOME_OVERRIDE -}}
        "</p>
        <br />
        <b>Reactivated Users:</b>
        {% if not DISABLE_COHORT_STATUS_CHANGE_MESSAGES %}
            <p class="alert alert-default">"{{ DEFAULT_USER_RESTART }}"</p>
        {% else %}
            <p class="alert alert-default">[NO MESSAGE WILL BE SENT]</p>
        {% endif %}
    </div>
{% endcall %}
