APP_SECRET_KEY = "FILL_ME_IN"

S3_ACCESS_KEY_ID = "FILL_ME_IN"
S3_ACCESS_KEY = "FILL_ME_IN"
S3_BACKUP_BUCKET = "FILL_ME_IN"

RECAPTCHA_PUBLIC_KEY = "FILL_ME_IN"
RECAPTCHA_PRIVATE_KEY = "FILL_ME_IN"

TWILIO_ACCOUNT_SID = "FILL_ME_IN"
TWILIO_AUTH_TOKEN = "FILL_ME_IN"
TWILIO_TEST_ACCOUNT_SID = "FILL_ME_IN"
TWILIO_TEST_AUTH_TOKEN = "FILL_ME_IN"

MONGO_USERNAME = "FILL_ME_IN"
MONGO_PASSWORD = "FILL_ME_IN"

SES_ACCESS_KEY_ID = "FILL_ME_IN"
SES_SECRET_ACCESS_KEY = "FILL_ME_IN"

SENTRY_DSN = "FILL_ME_IN"
JS_SENTRY_DSN = "FILL_ME_IN"