{% extends "base.html" %}

{% block title %}404 | Instant Census{% endblock %}

{% block page_name %}Error: (404){% endblock %}

{% block content %}
<div class="container">
    <img src="/static/img/ICLogo-dark.png" class="img-responsive img-center" />
    <div class="error-box">
        <h2>Whoops.</h2>
        <br /><br />
        <p>Looks like the page you were looking for isn't here.</p>
        <p>Send us an email at <a href="mailto:support@instantcensus.com" target="_blank">support@instantcensus.com</a> if you would like assistance.</p>
    </div>
</div>
{%endblock%}